.product-area {
  /* The image used */
  background-image: url("/static/img/products/.jpg");
  padding-top: 15px;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}